// Variables
$cafe-noir: #4a2c18;
$coyote: #856e4d;
$almond: #ede0d4;
$reseda-green: #656d4a;
$ebony: #414833;
$font-family: "Cormorant Garamond", serif;
$font-family-upright: "Cormorant Upright", serif;
